<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom.css">
</head>
<body>

<div>
    <div class="">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="navbar-brand" href="index.jsp">
                <img src="https://cdn-icons-png.flaticon.com/512/5273/5273660.png" alt="" width="30" height="24"
                     class="d-inline-block align-text-top">
                Furama
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-warning">Employee</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Customer</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Service</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Contract</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">User</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>
    </div>
</div>
</body>
</html>